*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #4891ff;
    --light-color: #dcdce0;
    --dark-color: #111;
    --bright-color: #f0f0f3;
}

body{
    font-family: 'Poppins', "sans-serif";
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}

a{
    text-decoration: none;
    color: #333;
}

ul{
    list-style: none;
}

img{
    max-width:  100%;
}

/*Navbar*/

.nav-bar{
    background-color: #fff;
    padding: 20px;
}

.nav-bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .main-menu ul{
    display: flex;
}

.nav-bar ul a{
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.nav-bar ul li a i{
    margin-right: 8px;
}

.nav-bar ul a:hover{
    color: var(--primary-color);
}

.nav-bar ul li:last-child a{
    margin-left: 10px;
}

.btn{
    display: inline-block;
    background-color: var(--light-color);
    padding: 13px 20px;
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}

#GetStarted{
    margin-right: 10px;
}

#Book{
    margin-left: 10px;
}

.btn:hover{
    opacity: 0.8;
}

.btn-primary{
    background: var(--primary-color);
    color: #fff;
}

.btn-dark{
    background: var(--dark-color);
    color: #fff;
}

/*Hero*/
.hero{
    margin-bottom: 50px;
}

.hero .container{
    background: url("images/hero-bg.png") no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 600px;
}

.hero .hero-content{
    width: 70%;
}

.hero-text{
    width: 70%;
    margin-bottom: 30px;
    padding-top: 20px;

}

/*Video*/

.video .container-sm h1{
    color: white;
}

.video .container-sm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video .container-sm .video-content{
    margin-bottom: 20px;
}

.video .btn{
    margin-bottom: 20px;
}

/*Testimonials*/

.testimonials .container{
    padding-bottom: 40px;
}

.testimonials .card p:nth-child(2) {
    margin-top: 30px;
    font-weight: bold;
}

.testimonials{
    padding-top: 40px;
}

.testimonials-header{
    padding-right: 35%;
}

.testimonials-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/*Price*/
.pricing .price-header{
    margin-bottom: 30px;
}

.price-header h2{
    margin-bottom: -20px;
}

.pricing .pricing-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.pricing .card-header{
    margin-bottom: 40px;
}

.pricing hr{
    margin-top: 15px;
    margin-bottom: 40px;
}

.pricing .options p{
    margin-bottom: 25px;
}

.pricing i{
    margin-right: 8px;
}

.btn-section{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pricing .bg-black .btn-section{
    margin-top: 60px;
}

.pricing .container-sm p:last-child{
    padding-top: 25px;
    padding-bottom: 25px;
}

/*FAQ*/

.faq .faq-header{
    padding-top: 50px;
}

.faq-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq .faq-header ul{
    display: flex;
    background-color: var(--light-color);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.faq-header ul li{
    padding: 5px 20px;
}

.active{
    background-color: var(--primary-color);
    border-radius: 10px;
}

.faq-header ul li a{
    font-size: 15px;
    font-weight: 600;
}

.faq-header ul .active a{
    color: white;
}

.faq-content .content-group{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.faq-content .content-group .group-header{
    padding: 20px 0;
    margin-bottom: 15px;
    position: relative;
}

.faq-content .content-group .group-header h3{
    font-weight: 600;
    width: 95%;
}
.faq-content .content-group .group-header i{
    position: absolute;
    right: 0;
    top: 35px;
    cursor: pointer;
    font-size: 1.2rem;
}

.faq-content .content-group .group-body{
    display: none;
}

.faq-content .content-group .group-body.open{
    display: block;
}

/*Utility Classes*/

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Text Classes*/

.text-xxl{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl{
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lf{
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md{
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm{
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center{
    text-align: center;
}

/*Background*/

.bg-primary{
    background: var(--primary-color);
    color: #fff;
}

.bg-dark{
    background: var(--dark-color);
    color: #ffffff;
}

.bg-light{
    background: var(--light-color);
    color: #333333;
}

.bg-bright{
    background: var(--bright-color);
    color: #333333;;
}

.bg-black{
    background: #000;
    color: #ffffff;
}

/*Cards*/

.card{
    border-radius: 10px;
    padding: 20px;
}

.testimonials .card{
    background: #fff;
    color: #000;
}

/*highlight*/
.highlight{
    font-size: 2rem;
}